.player {
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.time-control {
    width: 50%;
    display: flex;
    align-items: center;

    input {
        width: 100%;
        // appearance: none;
        background-color: transparent;
        cursor: pointer;

        /*
        &[type='range']:focus {
            outline: none;
        }

        &[type='range']::-webkit-slider-thumb {
            appearance: none;
            width: 16px;
            height: 16px;
            background-color: #000;
        }
        */
    }

    p {
        padding: 1rem;
        min-width: 73px;
    }
}

.play-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 30%;

    svg {
        cursor: pointer;
    }
}

/* .track {
    background-color: lightblue;
    width: 100%;
    height: 1rem;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
}

.animate-track {
    background-color: rgb(244, 244, 244);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(10%);
    pointer-events: none;
} */

@media screen and (max-width: 768px) {
    .time-control {
        width: 90%;
    }
    .play-control {
        width: 60%;
    }
}
