*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3 {
    color: rgb(45, 45, 45);
}

body {
    font-family: 'Lato', sans-serif;
}

@import './player';
@import './song';
